</div>
<footer>
			 <!--EL "&copy" agrega la R de copyright, esto es llamado entidades y se encarga de mostrar un caracter especial-->
				<P>&copy;Eliezer Pulido</P>
			

</footer>
</body>
</html>