<!DOCTYPE html>

<html>

<head>
	<title>Eliezer José Pulido | Curriculo</title>
	<!--con las siguientes etiquetas vinculo en archivo css al html y cambio la 
	codificación a UTF-8 para poder hacer uso de los acentos -->
	<meta charset="utf-8">
	<link rel="stylesheet"  href="../public/style/style.css">
	<link rel="icon" type="icon" href="../public/recursos/favicon.png" sizes="24x24">
</head>
 
	<body>
		<!--Describo la cabecera con una imagen y encierro el contenido en un div con el id cabecera para un mejor diseño css  -->
		<header >
			<div id ="cabecera">
			<img src="../public/recursos/logo1.jpg" id="imagenP1" class="flotar" >
			<h1 class="flotar">CURRICULO</h1>
		<!--El siguiente div que se encuentra vacio y pertenece a la clase restaurar
			está en la cabecera para ser usado posteriormente en el archivo css, con el fin de poner la imagen y el título de la página una al lado del otro, usando para esto, el modelo de cajas tradicional.
			-->
			<div class="restaurar"></div>	
			</div>
		</header>

		<!--Barra de Navegacion-->

		<nav >
			<div id="menu">
				<!--Cada contenido de la lista, es un enlace a una seccion distinta
					de la pagina u otro documento html que utilizara este como 
					plantilla-->
			<ul>
				<li><a href="/">Datos Personales</a></li>
				<li><a href="contacto">Formulario Para Contactarme</a></li>
			</ul>
			</div>
		</nav>

		<!--El Contenido principal de la pagina, es encerrado en un div para poderlo separar o manejar aparte del body y lograr el dise;o que quiero-->
		<div id="todo"> 