<%-include("arriba.ejs")%>
 <main>
 	
 <section>
 		<div class="centrar bloque">
 			<img src="../public/recursos/logo.PNG" class=" logoform redondear" >
 		</div>
 		

 		<h1 class="centrar titulo">Formulario de Contacto</h1>

	<form method="POST" action="/contacto" value="json">
		<label  class="bloque centrar form">Nombre: <input type="text" name="nombre" placeholder="Escriba su Nombre" ></label>
		<label  class="bloque centrar form">Asunto: <input type="text" name="asunto" placeholder="Escriba Asunto" ></label>
		<label class="bloque centrar form"> Email: <input type="email" name="email" placeholder="ejemplo@gmail.com"></label>
		<div class="bloque centrar form">
			<textarea  name="mensaje" cols="90" rows="10" placeholder="Escriba el Mensaje que Desea Hacerme Llegar" ></textarea>
		</div>
					
		
		<input type="submit" name="" class="bloque centrar botongrande">
	</form>
</section>

 </main>

<%-include("abajo.ejs")%>